body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: rgb(147, 133, 99);
}

header {
  background-color: black;
  color: white;
}

.container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-12 {
  width: 100%;
}

.map {
  width: 90%; /* Adjust this value to your preference */
  height: 400px;

}

.jumbotron {
  color: white;
  background-color: black;
  padding: 30px;
  width:100%;
  box-sizing: border-box;
}

.well {
  background-color: rgba(218, 165, 32, 0);
  border: 1px solid #ccc;
  padding: 15px;
  width: 100;
  box-sizing: border-box;
}

.chart-container {
  margin-top: 40px;
    width: 30%;
  background-color: white;
  box-sizing: border-box;
}

#image {
  width: 100%; /* Image will fill the parent container */
  height: 30%; 
}

#bar-chart,
#pie-chart {
  width: 800%;
  height: 300px;
  margin-bottom: 20px;
}







